@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    font-family: "Inter", sans-serif !important;
}

.btn {
    width: 100%;
    padding: .5rem 1rem;
    font-weight: 500;
    font-size: 18px;
    color: white;
    background-color: map-get($colors, $key: 'blue');
    border-radius: .5rem;
    transition: opacity 300ms;

    &:hover {
        opacity: .8;
    }

    @media screen and (max-width: map-get($display-breakpoints, 'lg')) {
        font-size: 16px;
    }
    @media screen and (max-width: map-get($display-breakpoints, 'xm')) {
        font-size: 14px;
    }
}

.wrapper {
    padding: 1.5rem 6rem;

    @media screen and (max-width: map-get($display-breakpoints, 'md')) {
        padding: 1.5rem 2rem;
    }
    @media screen and (max-width: map-get($display-breakpoints, 'sm')) {
        padding: 1.5rem 0;
    }
}

.section__title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 2rem;
}